header{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: gray;
}
body{
    font-family: "Open Sans", sans-serif;
    border: solid 80px gray;
}
.container{
    text-align: center;
}
.coffee{
    color: rgba(165, 42, 42, 0.61);
}
.itemss{
    padding: 30px;
}
.linebrake{
    margin-left: 10rem;
    margin-right: 10rem;
}
.textss{
    font-size: 25px;
    color: black;
    padding: 20px;
  
}
footer{
    text-align: center;
    background-color: gray;
    padding: 30px;
}